.container_p {
  display: block;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.container_s {
  display: none;

  @media screen and (max-width: 768px) {
    display: block;
  }
}
