@mixin button-common {
  display: block;
  width: 80%;
  height: 40px;
  border-radius: 24px;
  border: none;
  color: var(--color-pure-white);
  font-weight: bold;
  font-size: 14px;
  margin: 8px auto 24px;
  line-height: 40px;
  text-align: center;
}

.container {
  border-radius: 8px;
  background: var(--color-pure-white);
  padding: 24px;
  height: calc(100vh - 170px);
  overflow-y: auto;
  border: 1px solid #e0e0e0;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.modal {
  display: block;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  margin-left: -24px;
  height: auto;
}

.user {
  flex-direction: column;
  gap: 12px;
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vote {
  width: 70%;
  height: 70%;
  display: inline-block;
}

.name {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.title {
  color: var(--color-black);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  resize: none;
  padding: 8px 16px;
  border-color: #acacac;
  font-size: 14px;
}

.button {
  background-color: #61c16a;
  cursor: pointer;

  @include button-common();

  &:hover {
    opacity: 0.7;
  }
}

.notice {
  font-size: 12px;
  color: #686868;
  display: grid;
  gap: 8px;
}

.text {
  line-height: 1.4;
  letter-spacing: 0.12px;
}

.error {
  color: #da3732;
  font-size: 12px;
}

.disabled {
  background-color: #b9b9b9;
  pointer-events: none;
  cursor: initial;

  @include button-common();
}

.login {
  background-color: #3f8ae8;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  @include button-common();
}

.close_button {
  display: none;
  width: 20px;
  height: 20px;

  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: 16px;
    right: 24px;
  }
}

.chat_button {
  display: none;
  position: absolute;
  right: 24px;
  bottom: 24px;
  background-image: url('/chat.png');
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;

  @media screen and (max-width: 768px) {
    display: block;
  }
}
