.container {
  border-radius: 8px;
  border: 1px solid #acacac;
  background: #f8f4ea;
  padding: 24px;
  height: 570px;
  overflow-y: auto;
}

.title {
  color: var(--color-black);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.list {
  padding: 12px 8px;
}

.link {
  color: var(--color-black);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
