$colors: (
  pure-white: #fff,
  white: #f7f7f7,
  black: #333333,
);

$font: (
  small: 12px,
  medium: 16px,
  large: 20px,
);

:root {
  @each $color, $value in $colors {
    --color-#{$color}: #{$value};
  }
}
