.container {
  padding: 52px 90px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
