.container {
  padding: 32px 90px;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

.blur {
  backdrop-filter: blur(8px);
}

.content {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  gap: 24px;
}

.link {
  text-decoration: none;
  color: var(--color-black);
  font-weight: bold;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
