.container {
  margin-top: -104px;
  height: 100vh;
  overflow: scroll;
  margin-right: -24px;
  @media screen and (max-width: 768px) {
    margin-right: -16px;
  }
}

.content {
  padding-right: 24px;
  @media screen and (max-width: 768px) {
    padding-right: 16px;
  }
}

.list {
  display: grid;
  grid-template-columns: 56px 1fr 60px;
  gap: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #acacac;

  &:first-child {
    padding-top: 96px;
  }
}

.image_content {
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.user {
  font-size: 14px;
  margin-right: 4px;
  font-weight: bold;
}

.date {
  display: inline-block;
  color: #797979;
  font-size: 12px;
  margin-bottom: 8px;
}

.comment {
  line-height: 1.4;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.action_content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-end;
  gap: 16px;
}

.user_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.vote {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.like {
  display: grid;
  align-items: end;
  gap: 4px;
  grid-template-columns: 1fr 24px;
}

.has_loading {
  overflow: hidden;
}
